# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
test-vault/.obsidian/workspace
test-vault/.obsidian/plugins/hext/*.css
test-vault/.obsidian/plugins/hext/*.js
test-vault/.obsidian/plugins/hext/*.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
